/* body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
      
        } */

        .head {
            position: relative;
            width: 150px;
            height: 150px;
            margin: 50px;
            background-color: #a4d9eb;
            border: 5px solid #9bbcc2;
            border-radius: 20px;
        }

      .light {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;              
    flex-direction: column;     
    align-items: center;        
}


        .stick {
            width: 10px;
            height: 15px;
            background-color: #808080;
            margin: 0 auto;
        }

        .bulb {
            width: 30px;
            height: 30px;
            background-color: #ffa500;
            border-radius: 50%;
            position: relative;
            top: -5px;
        }

        .ears {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;               
    justify-content: space-between;
}


        .ear {
            position: absolute;
            width: 10px;
            height: 50px;
            background-color: #c90a0a;
            top: 50%;
            transform: translateY(-50%);
        }

        .ear:first-child {
            left: -10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        .ear:last-child {
            right: -10px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .eyes {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 20px;
        }

        .eye {
            width: 30px;
            height: 30px;
            background-color: white;
            border: 5px solid #00b3ff;
            border-radius: 50%;
        }

        .nose {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 30px solid #c90a0a;
        }

        .mouth {
            position: absolute;
            bottom: 25px;
            left: 50%;
            transform: translateX(-50%);
            width: 100px;
            height: 25px;
            background-color: #dedede;
            border: 1px solid black;
            border-radius: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: stretch;
            padding: 0 5px;
        }

        .tooth {
            width: 5px;
            background-color: black;
        }